%span.small.help-block
  This is the actual page content. It is what will show on the entire page. You can use HTML<!-- or Markdown (choose which you prefer below)-->, but first some things to remember:
  %ul
    %li #{link_to 'Bootstrap v3.3.6', 'http://getbootstrap.com/', target: '_blank'} & the #{link_to 'custom theme', 'https://github.com/carterdea/adopttogether/tree/master/app/assets/stylesheets/application', target: '_blank'} cascade before your custom styles
    %li If you need to use Javascript look up #{link_to 'how to use JS with Turbolinks', 'http://guides.rubyonrails.org/working_with_javascript_in_rails.html#how-turbolinks-works', target: '_blank'} (tl;dr #{link_to "this will not work: $(document).on('ready', function () { /* ... */ });", 'https://github.com/kossnocorp/jquery.turbolinks#user-content-not-working-with-documentonready', target: '_blank'})
    %li Images need to be hosted on our AWS S3 bucket, ask Carter for the credentials
  Here are the HTML tags you can use:
  %code &lt;div&gt;
  ,
  %code &lt;p&gt;
  ,
  %code &lt;a&gt;
  ,
  %code &lt;img&gt;
  ,
  %code &lt;form&gt;
  ,
  %code &lt;label&gt;
  ,
  %code &lt;input&gt;
  ,
  %code &lt;textarea&gt;
  ,
  %code &lt;select&gt;
  ,
  %code &lt;option&gt;
  ,
  %code &lt;button&gt;
  ,
  %code &lt;span&gt;
  ,
  %code &lt;script&gt;
  ,
  %code &lt;style&gt;
  ,
  %code &lt;iframe&gt;
  ,
  %code &lt;embed&gt;
  ,
  %code &lt;blockquote&gt;
  ,
  %code &lt;strong&gt;
  ,
  %code &lt;em&gt;
  ,
  %code &lt;u&gt;
  ,
  %code &lt;span&gt;
  ,
  %code &lt;hr&gt;
  ,
  %code &lt;br&gt;
  ,
  %code &lt;ul&gt;
  ,
  %code &lt;ol&gt;
  ,
  %code &lt;li&gt;
  ,
  %code &lt;table&gt;
  ,
  %code &lt;tr&gt;
  ,
  %code &lt;th&gt;
  ,
  %code &lt;td&gt;