.row
  .col-xs-12.col-md-4
    %ul.nav.nav-pills.nav-stacked
      %li= nav_link_to 'Families', admin_families_path
      %li= nav_link_to 'Donations', admin_donations_path
      %li= nav_link_to 'Grants', admin_grants_path
      %li= nav_link_to 'Users', admin_users_path
  .col-xs-12.col-md-8
    %h1 Admin Dashboard
    %p Lots of stuff is going to go here. Have a suggestion for what I should put here? Email me: me at carterdea dot com

