// Place all the styles related to the Donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paypal {
  color: $color-medium-grey-2;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
  &:hover {
    color: $color-paypal;
    text-decoration: none;
  }
  span {
    background: image-url('paypal.png') no-repeat top left;
    display: block;
    float: right;
    font-size: 0;
    height: 20px;
    margin-left: 5px;
    width: 81px;
  }
}

.page-tabs.btn-group .btn {
  background: $color-light-grey-1;
  color: $color-medium-grey-1;
  font-size: 12px;
  padding: 10px 0;
  &.active {
    background: $color-medium-grey-2;
    color: $color-white;
  }
}

.form-group.donation-amount .btn {
  font-size: 18px;
  margin-bottom: 4px;
  padding: 10px 10px 8px;
  width: 32%;
}

label[for="donation_amount_other"] {
  margin-top: 1px;
  width: 32%;
  vertical-align: middle;
  #donation_amount_other {
    display: none;
  }
  input[type="text"].form-control {
    width: 100%;
  }
}

.form-group.donation-amount .form-control {
  display: inline-block;
  font-size: 24px;
  padding: 25px 15px;
  width: 32%;
  vertical-align: top;
}

.radio-label {
  margin-bottom: 0;
}

#tip_other_text {
  display: inline-block;
  width: 140px;
  margin-top: -6px;
}

.donor {
  h5 {
    line-height: 1;
    margin-bottom: 0;
  }
  .amount {
    color: $color-medium-grey-1;
    font-size: 13px;
  }
  blockquote {
    border-left: 0;
    color: $color-medium-grey-1;
    font-size: 18px;
    font-style: italic;
    padding: 5px 0;
  }
}

#new_donation .radio label {
  width: 205px;
  .tip-amount {
    color: $color-medium-grey-1;
    font-size: 12px;
    float: right;
  }
}

.well {
  background: $color-off-white;
  border: 1px solid $color-light-grey-1;
  @include box-shadow(inset 0 0 0 rgba(0,0,0,0));
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
  p {
    color: $color-medium-grey-1;
    font-size: 14px;
  }
  hr {
    border-color: $color-light-grey-1;
  }
}

.donations.thanks .well p {
  margin-bottom: 0;
}

@media (min-width: $screen-sm-min) {
  .page-tabs.btn-group {
    margin-bottom: 20px;
    .btn {
      font-size: 18px;
      padding: 12px 20px;
    }
  }

  legend {
    font-size: 24px;
  }

  .form-group.donation-amount .btn {
    font-size: 24px;
    padding: 15px 25px 13px;
  }
}
