.row
  .col-xs-12.col-sm-4
    = render 'shared/dashboard_nav'
  .col-xs-12.col-sm-8
    %h1 Edit Your Family Profile
    %p Here you can edit or update your family profile. It's best to keep your profile up to date with new photos, updated adoption status, etc.
    = render 'form'