- if params[:q].blank?
  %h1 All Families
- else
  %h1 Search Results for "#{params[:q]}"
%h2= pluralize(Family.all.count, "Adopting families")
.row
  -@families.each do |family|
    .col-xs-6.col-md-4
      = render 'shared/family_thumb', :family => family
= paginate @families