.row
  .col-xs-12.col-sm-8
    %h1 Start a Family Profile
    %p Hey! We are so excited to help you fundraise for your adoption. Please take a few minutes to fill out the information below and we’ll get you started.
    = render 'form'
  %aside.col-xs-12.col-sm-4
    %h2 FAQ
    %h3 What is the approval process for families listed on AdoptTogether.org?
    %p The most common &quot;hang ups&quot; families experience are completing their home study or receiving a letter of approval from their agency.
    %h3 How long does it take for my profile to go live?
    %p Once you have submitted your profile request, you will receive the completion form within one business day. After that, timing will depend on how quickly you fill out and return the remaining forms. Some profiles have gone live within 24 hours and some have taken a month.
    %p The most common “hang ups” families experience are completing their home study or receiving a letter of approval from their agency.
    %h3 How long does it take to get a grant awarded?
    %p The most common &quot;hang ups&quot; families experience are completing their home study or receiving a letter of approval from their agency.
    %h3 Can I donate to my own account?
    %p No, AdoptTogether does not allow families to donate to their own account.
    %h3 How long can we keep our profile up?</dt>
    %p Yes! Your donation is going to the Hoping Hearts foundation and then it is being appropriated to the families.
