.row
  .col-xs-12.col-sm-8
    %h1 Apply for a Family Profile
    %p Hey! We are so excited to help you fundraise for your adoption. Please take a few minutes to fill out the information below and we’ll get you started.
    = render 'form'
  .col-xs-12.col-sm-4
    %h2 Profile Preview
    %h2 FAQ
    %h4 What is the approval process for families listed on AdoptTogether.org?
    %p The most common "hang ups" families experience are completing their home study or receieving a letter of approval from their agency.