.row
  .col-xs-12.col-sm-8
    %h1 Start a Family Profile
    %p Hey! We are so excited to help you fundraise for your adoption. Please take a few minutes to fill out the information below and we’ll get you started.
    = render 'form', family: @family
    .lock
      = image_tag('lock.png', height: 23, alt: 'Secured by Stripe')
      %p Your information is secure with 256 bit SSL encryption
  %aside.col-xs-12.col-sm-4
    %h2 FAQ
    %h4 What do I need to start raising money on AdoptTogether?
    %p Just give us a family photo, adoption agency, etc and then when you request your first grant we'll need a letter of approval from your agency or adoption lawyer in order to send you the first grant.
    %h4 How long does it take to get a grant awarded?
    %p Grants are usually approved and sent within 2 weeks. You can expect to receieve it within 2-3 weeks.
    %h4 Can I donate to my own account?
    %p No, AdoptTogether does not allow families to donate to their own account.
    %h4 How long can we keep our profile up?
    %p You can keep the profile up as long as you have costs associated to the adoption. For some families it's 6 mos, 1 year, for some families it's longer.