:javascript
  
  Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');

  $('.js-cc-number').payment('formatCardNumber');
  // $('.js-cc-expiry').payment('formatCardExpiry');
  $('.js-cc-cvc').payment('formatCardCVC');

  $('#payment-form').submit(function(event) {
    var form = $(this);
    form.find('button').prop('disabled', true);
    Stripe.createToken(form, stripeResponseHandler);
    return false;
  });

  function stripeResponseHandler(status, response) {
    var form = $('#payment-form');
    if (response.error) {
      form.find('.payment-errors').text(response.error.message);
      form.find('button').prop('disabled', false);
    } else {
      var token = response.id;
      form.append($('<input type="hidden" name="stripeToken">').val(token));
      form.get(0).submit();
    }
  }