%ul.nav.nav-pills.nav-stacked
  %li= nav_link_to "Dashboard", dashboard_path
  %li= nav_link_to "Update Donors", family_updates_path(@family)
  %li= nav_link_to "Edit Family Profile", edit_family_path(@family)
  %li= nav_link_to "My Fundraisers", "#"