.family.col-xs-6.col-md-4
  = link_to (image_tag(family.photo.thumb.url, class: "img-responsive")), family
  .caption
    %h3= link_to family.full_name, family
    %span.location are adopting from #{family.country_name}
    %span.raised #{pretty_dollars(family.total_raised)} Raised 