& <iframe src="https://player.vimeo.com/video/32829152?color=76cc1e&title=0&byline=0&portrait=0" width="1170" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
%h1 What is AdoptTogether?
%p Most people today can afford to raise a child, but many face the challenge of meeting all of the upfront costs associated with adoption. Today, it costs as much to adopt as it does to buy a BMW or to place a down payment on a home.
%p Founder of AdoptTogether, Hank Fortener, understands both the harsh realities and sweet victories that are part of the adoption process. After loving, then seeing 36 foster kids move in and out of his parent’s home in Waynesville, Ohio, Hank saw the transformational power of adoption when his parents gave forever homes to eight kids from five different countries.
%p AdoptTogether is a non-profit, crowdfunding platform that bridges the gap between families who want to adopt and the children who need loving homes.
%p At AdoptTogether, our vision is to live in a world with no more orphans-- a family for every child. Whether you’re a family who wants to adopt or a future donor, you’re a big part of turning this vision into a reality.
%p Email any questions to info@adopttogether.org

%h1 Adopting Family
%p When registering as an adopting family, you complete a brief online profile and upload your adoption homestudy to AdoptTogether. Once confirmed as a prospective adopting family, your profile is made available to generous supporters for encouragement and designated gifts.
%h1 Generous Supporter
%p Your donation is being made to Hoping Hearts Foundation -- the parent organization of AdoptTogether.org -- and will be designated to your selected adopting family. 
%p The IRS requires that a 501c3 organization make an independent evaluation of grants to individuals. On a monthly basis, the Hoping Hearts Foundation Board awards grants to adopting families based on adoption status, actual adoption expenses and donor designations. The total grant to an adopting family could be more or less than the designated gifts. Thank you for your generous donations!
