& <iframe src="https://player.vimeo.com/video/32829152?color=76cc1e&title=0&byline=0&portrait=0" width="1170" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
%h1 What is AdoptTogether?
%p Most people today can afford to raise a child, but many face the challenge of meeting all of the upfront costs associated with adoption. Today, it costs as much to adopt as it does to buy a BMW or to place a down payment on a home.
%p Founder of AdoptTogether, Hank Fortener, understands both the harsh realities and sweet victories that are part of the adoption process. After loving, then seeing 36 foster kids move in and out of his parent’s home in Waynesville, Ohio, Hank saw the transformational power of adoption when his parents gave forever homes to eight kids from eight different countries.
%p AdoptTogether is a non-profit, crowdfunding platform that bridges the gap between families who want to adopt and the children who need loving homes.
%p At AdoptTogether, our vision is to live in a world with no more orphans-- a family for every child. Whether you’re a family who wants to adopt or a future donor, you’re a big part of turning this vision into a reality.
%p Email any questions to info@adopttogether.org