%h1 Frequently Asked Questions

%h2 Where does the money go?
%p Donations are being made to Hoping Hearts Foundation -- the parent organization of AdoptTogether.org -- and will be designated to the selected adopting family. All of the non-designated donations to AdoptTogether go towards the day-to-day expenses of AdoptTogether like credit card fees, website hosting, etc.

%h2 Do donations go directly to the family?
%p The donations are awarded to the family through a grant. The IRS requires that a 501c3 organization make an independent evaluation of grants to individuals. On a monthly basis, the Hoping Hearts Foundation Board awards grants to adopting families based on adoption status, actual adoption expenses and donor designations. The total grant to an adopting family could be more or less than the designated gifts, and depends on actual adoption costs and the amount raised by the family. We actively soliciting donations from individuals and corporations to support the AdoptTogether mission. Our goal is to provide grants that meet or exceed the designated gifts for an individual family. No family has received less than 95% of designated gifts.

%h2 Why use AdoptTogether instead of a common crowd funding platform?
%ul
  %li Donors are much more comfortable giving and much more generous when they can send money to an IRS approved 501c3 organization like Hoping Hearts Foundation and AdoptTogether.
  %li Donors are much more comfortable giving and much more generous when they know that the money distributed through AdoptTogether grants are used solely for adoption related expenses.
  %li Donors that have access to Corporate Matching Gift programs can have their donation matched since we are an IRS approved 501c3 organization. To date, we have had hundreds of donations matched through Corporate Matching Gift programs.

%h2 How much does it cost?
%p There is no charge for the family to create a profile. AdoptTogether reduces donations by administration and transaction donation fees. No family has received less than 95% of designated gifts.

%h2 What kind of documentation is needed for grant requests?
%p When applying for a grant, you must send in all invoices, receipts and any documentation from the agency, organization or business you’re working with pertaining to your adoption. The key here is to provide evidence of adoption expenses to support the grant request.

%h2 How long does it take to get a grant awarded?
%p Grants are reviewed by the Board every 30 days.
%p The bank can take about 5 business days to process and send out the checks.
%p Please expect 4-6 weeks from the day you submit your request to the day you receive the check.

%h2 Can we donate to our own profile?
%p No, AdoptTogether does not allow donations to your own profile.

%h2 Do we get a receipt after donating?
%p Yes, you get a receipt immediately if you donate using a credit card or a PayPal account. If you donate by check, we will send you a receipt at the end of the year. You can always email us and ask us for a copy!

%h2 When are payments posted?
%p Credit card donations are posted immediately; PayPal donations take 1 business day and check donations are posted once a month.

%h2 How long does it take to get a profile live on AdoptTogether.org?
%p Once you have submitted your profile request, you will receive the completion form within one business day. After that, timing will depend on how quickly you fill out and return the remaining forms. Some profiles have gone live within 24 hours and others have taken up to a month. The most common “hang ups” families experience are completing their home study or receiving a letter of approval from their agency.

%h2 How long can we keep our profile up?
%p As long as there is a need to raise adoption expenses, we encourage families to continue updating their profile with videos, blogs, etc. Fundraising may continue even after you’ve brought your child home!

%h2 Can we donate cash?
%p No, unfortunately there is no way to provide a receipt for a tax write off. We accept check, credit card and PayPal donations. Please note that PayPal charges its own fees based on the user's account.

%h2 Can we donate by check?
%p Yes, however donations given by check will be processed and posted once per month.
%p Checks can be mailed to: 251 W Central Ave. #278 Springboro, OH 45066

%h2 What is the approval process for families listed on AdoptTogether.org?
%p After submitting a profile request through our website, we review the information and confirm that the family is working with an authorized adoption agency. We require documentation from the agency stating that the family is an adoptive family. Our Program Coordinator will then contact the family and provide information on how to create the profile. After the family completes the profile forms, our Program Coordinator will review, suggest any necessary changes, and approve. As soon as the family accepts our terms and conditions, the profile will go live!

%h2 Is my donation tax-deductible?
%p AdoptTogether.org is a project of Hoping Hearts Foundation Inc, a federally recognized 501(c)(3) charitable organization. Therefore, your donation may be tax-deductible. Please consult your tax advisor for specific tax advice.
