.family-list {
  h2 {
    margin-bottom: 2px;
  }
  p {
    color: #888;
    font-size: 11px;
    margin-bottom: 14px;
  }
}

.family {
  margin-bottom: 20px;
  h3 {
    margin: 4px 0 0;
    a {
      color: $color-medium-grey-2;
    }
  }

  .caption {
    span {
      display: block;
      &.location {
        color: $color-medium-grey-1;
        font-size: 14px;
      }
      &.raised {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.families {

  .family-details {
    h1 {
      margin: 10px 0 0;
    }

    h3 {
      font-size: 16px;
      margin: 0 0 10px;
    }

    h4 {
      font-size: 12px;
      margin: 0;
      text-transform: uppercase;
    }
    .agency h3 {
      margin-bottom: 0;
    }
  }

  .raised, .share-buttons {
    border-bottom: 1px solid darken($color-off-white, 7%);
    padding-bottom: 20px;
    span {
      display: block;
      &.total-raised, &.share-count {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.2;
      }
      &.goal, &.shares {
        color: $color-medium-grey-1;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }

  .share-count {
    margin-top: 10px;
  }

  .raised h3 {
    font-size: 18px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) {
  .family-list {
    h2 {

    }
    p {
      font-size: 14px;
    }
  }

  .family-details {
    margin-top: 24px;
    h1 {
      margin: 10px 0 0;
    }

    h3 {
      font-size: 24px;
    }
  }

  .family {
    h3 {
      font-size: 16px;
      margin: 10px 0 0;
    }
    p {
      font-size: 13px;
    }
  }
}