- if params[:id] == 1
  - title "Donate to AdoptTogether"
  - meta_description "You can donate to adoption on AdoptTogether, a crowdfunding platform for adopting families."
- else
  - title "Donate to #{@family.full_name}'s Adoption on AdoptTogether"
  - meta_description "You can donate to #{@family.full_name}'s adoption on AdoptTogether, a crowdfunding platform for adopting families."
.row
  .col-xs-12.col-sm-8
    - if params[:id] == 1
      %h1 Donate to AdoptTogether
      %p This is where we're putting our stuff
      %ul
        %li Item 1
        %li Item 2
        %li Item 3

    - else
      %h1 Donate to a Family
    = render 'form'
  %aside.col-xs-12.col-sm-4
    - unless params[:id] == 1
      %h2 You are making a designated donation to AdoptTogether on behalf of
      = render 'shared/family_thumb', :family => @family
    %h2 FAQ
    %h3 Are my donations tax deductible?
    %p Yes! Your donation is going to the Hoping Hearts foundation and then it is being appropriated to the families.
    %h3 Can I send a check?
    %p Of course! Just make your check payable to AdoptTogether and put the family’s name on the envelope & in the memo and mail it to:
    %p
      AdoptTogether
      %br
      251 W. Central Ave. #278
      %br
      Springboro, OH 45066
      %br
      1 (888) 826-0948
    %h3 Can I give a monthly donation?
    %p Yes, on the last step we’ll ask if you want to make this a monthly donation.
    %h3 Can I edit or cancel my monthly donation?
    %p You can cancel your monthly contribution at any time via a unique URL that we will email you after you donate. If you ever lose the email, just contact us and we'll help you cancel your donation.
