%h1 Thank you for your donation
%p Completely impact multifunctional processes and wireless supply chains. Dynamically engage business.

.well
  %h3 Donation to AdoptTogether
.small.help-block A receipt with this information has just been emailed to you.

%h2 Take it to the next level: Help them reach their goal. There are 2 more ways to help:

%h2 Raise Money for this adoption from your Friends & Family
%p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paraismatic country, in which roasted parts of sentences fly into your mouth.
%a.btn.btn-primary Start a Fundraiser for this Family