.jumbotron {
  background: image-url("hero.jpg") center center;
  background-size: cover;
  color: $color-white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.07);
  p {
    font-size: 14px;
  }

  input {
    border: 0;
    @include box-shadow(0,0,0,rgba(255,255,255,0));
    
    &.form-control {
      @include border-radius(5px 5px 0 0);
    }
    &.btn {
      @include border-radius(0 0 5px 5px);
      display: block;
      width: 100%;
    }
  }
}

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) {
  .jumbotron {
    input.form-control {
      @include border-radius(5px)
    }

    input.btn {
      @include border-radius(5px);
      display: inline-block;
      width: auto;
    }
  }
}

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {

// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {

// }