// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-pills > li {

  a {
    color: $color-medium-grey-2;
    font-weight: 600;
    padding: 3px 15px 2px;
    &:hover {
      background: lighten($color-light-grey-1, 5%);
    }
  }

  &.active a, &.active a:hover {
    background: $color-medium-grey-2;
    color: $color-white;
  }
}

.well {
  h2 {
    margin-top: 0;
  }
}