// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-pills {
  margin-top: 30px;
  > li {

    a {
      color: $color-medium-grey-2;
      font-weight: 600;
      padding: 3px 15px 2px;
      &:hover {
        background: lighten($color-light-grey-1, 5%);
      }
    }

    a.active, &.active a:hover {
      background: $color-medium-grey-2;
      color: $color-white;
    }
  }
}

.well {
  h2 {
    margin-top: 0;
  }
}

.blank-slate-chart {
  margin: 30px;
}

.morris-hover {
  position: absolute;
  z-index:1000;
}

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255,255,255,0.8);
  border: solid 2px rgba(230,230,230,0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight:bold;
  margin: 0.25em 0
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space:nowrap;
  margin: 0.1em 0
}

textarea#page_body {
  display: none;
}

#editor {
  @include border-radius(3px);
  height: 400px;
  width: 100%;
}

.pages.new,
.pages.create,
.pages.edit {
  .btn-group {
    margin-bottom: 15px;
  }
}
