.row
  .col-xs-12.col-md-4
    = render 'shared/dashboard_nav'
  .col-xs-12.col-md-8
    = link_to "New Update", new_family_update_path(@family), class: "btn btn-primary pull-right"
    %h1 Your Updates
    %ul.list-unstyled.update-list
      - if @family.updates.any?
        - @family.updates.each do |update|
          = render 'shared/update', update: update
      - else
        %p.help-block You haven't written any updates yet. Updates are a great way to communicate with your donors and update them on the status of your adoption.
