.row
  .col-xs-12.col-md-4
    = render 'shared/dashboard_nav', family: @family
  .col-xs-12.col-md-8
    %h1 New Update
    %h2 Give Your Donors an Update
    = render 'form', family: @family, update: @update
