---
http_interactions:
- request:
    method: get
    uri: https://api.tumblr.com/v2/blog/adopttogether.tumblr.com/posts?api_key=Gj2VAefvkaQrxcvr7V0tHSPVTs1dEugmoqoq9xT1tNFtLTWbmS&limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="Gj2VAefvkaQrxcvr7V0tHSPVTs1dEugmoqoq9xT1tNFtLTWbmS",
        oauth_nonce="d662995f3e536c9e59d95225dd00e526", oauth_signature="V1J89V3tnBf%2FPv7KUKveXVVq0U4%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1475256329", oauth_token="Od3knRgrF9xKYVVW2uDN64ber4DKhEPrslkqPtyjazSE0ThdLo",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200,"msg":"OK"},"response":{"blog":{"title":"AdoptTogether","name":"adopttogether","total_posts":3,"posts":3,"url":"http:\/\/adopttogether.tumblr.com\/","updated":1453758150,"description":"This
        is a blog about AdoptTogether goings on, amazing Adopting Families, and other
        stuff that cares about.","is_nsfw":false,"ask":false,"ask_page_title":"Ask
        me anything","ask_anon":false,"followed":false,"can_send_fan_mail":true,"is_blocked_from_primary":false,"share_likes":true,"likes":-1,"twitter_enabled":false,"twitter_send":false,"facebook_opengraph_enabled":"N","tweet":"N","facebook":"N","followers":0,"primary":true,"admin":true,"messages":0,"queue":0,"drafts":0,"type":"public","reply_conditions":3,"subscribed":false,"can_subscribe":false},"posts":[{"blog_name":"adopttogether","id":138043001430,"post_url":"http:\/\/adopttogether.tumblr.com\/post\/138043001430\/what-adoption-means-to-me","slug":"what-adoption-means-to-me","type":"text","date":"2016-01-25
        21:42:30 GMT","timestamp":1453758150,"state":"published","format":"html","reblog_key":"tLkQOAVU","tags":["Adoption","family","uncle","truemeaningoflove","adoptionrocks","thosehaircuts"],"short_url":"https:\/\/tmblr.co\/Z3fTTj20a0GfM","summary":"What
        [Adoption] Means To Me","recommended_source":null,"recommended_color":null,"followed":false,"highlighted":[],"liked":false,"note_count":0,"title":"What
        [Adoption] Means To Me","body":"\u003Cp\u003EWhenever I\u2019m asked if anyone
        in my family is adopted my instinct is to say \u201cno.\u201d I don\u2019t
        mean to lie, I just always forget my uncle is adopted. I swear, if I showed
        you a photo of our entire family today and told you to guess who was adopted,
        you would not pick him.\u003C\/p\u003E\u003Cp\u003E\tMy Uncle Pete is adopted.
        I have almost no emotional connection to that sen[...]
