// Place all the styles related to the Grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grants.index .btn.pull-right {
  margin-top: 18px;
}

.grants.index li p:last-of-type {
  margin-bottom: 5px;
}

ul.grant-list {

  li {
    border-bottom: 1px solid darken($color-off-white, 7%);
    margin-bottom: 20px;

    h4 {
      color: $color-medium-grey-1;
      margin: 0;
      text-transform: uppercase;
    }

    h2,
    h3 {
      margin: 0 !important;
    }

    .date {
      color: $color-light-grey-2;
      display: block;
      font-size: 12px;
    }

    .body {
      // margin-bottom: 15px;
    }
  }
}