.btn {
  border: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  padding: 10px 26px 8px;
}

.btn:focus,
.btn:hover,
.btn:active {
  outline: none;
}

.btn-primary,
.btn-primary:focus {
  color: $color-white;
  background: $color-primary;
}

.btn-primary:hover {
  background: lighten($color-primary, 10%);
}

.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus {
  background: darken($color-primary, 10%);
}

.btn-default {
  background: $color-medium-grey-1;
  color: $color-white;
}

.btn.btn-lg {
  font-size: 18px;
  padding: 16px 18px 14px;
}

.btn.btn-sm {
  font-size: 14px;
  padding: 10px 24px 8px;
}

.navbar-nav .navbar-btn a {
  color: $color-white;
}

.form-group .btn {
  width: 24%;
}

footer .btn-primary {
  font-size: 12px;
  margin-bottom: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .btn {
    font-size: 16px;
    padding: 12px 20px 10px;
  }

  .navbar-nav .navbar-btn a {
    font-size: 14px;
    padding: 9px 20px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
  .btn {
    font-size: 18px;
    padding: 16px 18px 14px;
  }

  footer .btn-primary {
    font-size: 18px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { }
