form {
  margin-bottom: 12px
}

legend {
  border: 0;
  color: $color-medium-grey-2;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-top: 5px;
}

label {
  font-size: 14px;
  font-weight: 500;

  .optional {
    color: $color-light-grey-2;
    font-size: 90%;
  }
}

input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control {
  @include border-radius(3px);
  @include box-shadow(inset .5px .9px 1px rgba(0, 0, 0, .2));
  background-color: darken($color-white, 2%);
  border: 1px solid $color-light-grey-1;
  // @include placeholder {
  //   color: $color-light-grey-2;
  // }

  &:focus {
    @include box-shadow(inset .5px .9px 1px rgba(0, 0, 0, .2), 0 0 0 rgba(255, 255, 255, 0));
    border-color: $color-light-grey-2;
  }
}

.radio {
  margin: 5px 0;
}

.checkbox label {
  font-size: 13px;
  line-height: 1.7;
}

.navbar-form {
  border: 0;
  margin: 0 -15px;
}

.parsley-errors-list {
  list-style-type: none;
  margin: 5px 0 0;
  padding: 0;

  li {
    color: $color-error;
    font-size: 11px;
  }
}

.errors {
  @include border-radius(5px);
  background: $color-error;
  color: $color-white;
  margin-bottom: 10px;
  padding: 15px;

  h3 {
    margin: 0 0 2px;
  }

  ul {
    font-size: 13px;
    margin-bottom: 0;
    padding-left: 20px;
  }
}

.field_with_errors {
  label {
    color: $color-error;
  }

  .form-control {
    border-color: darken($color-error, 5%);
  }
}

.parsley-error {
  border-color: darken($color-error, 5%);
}

@media (min-width: $screen-sm-min) {
  .navbar-form {
    margin-top: 8px;
  }
}
