html {
  min-height: 100%;
  position: relative;
}

.no-padding {
  padding: 0
}

@media (min-width: $screen-sm-min) { 
  body {
    margin-bottom: 390px; // The height of the footer
  }
}

@media (min-width: $screen-md-min) { 
  body {
    margin-bottom: 290px; // The height of the footer
  }
}

header.navbar {
  background-color: $color-white;
  border: 0;
  @include border-radius(0);
  @include box-shadow(0.5px 1px 2px rgba(0, 0, 0, 0.1));
  margin-bottom: 0;
}

.navbar-header {
  height: 50px;
}

.navbar-nav {
  margin: 0px -10px 7.5px;
  li a {
    color: $color-medium-grey-1;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 8px;
    &.greater {
      color: $color-medium-grey-2;
      font-size: 16px;
    }
  }
  .navbar-btn {
    margin: 8px 14px;
    a {
      color: $color-white;
      font-size: 18px;
      padding: 12px 0 10px;
    }
  }
}

.navbar-toggle {
  @include border-radius(5px);
  background-color: #ccc;
  border: 1px solid $color-medium-grey-1;
  margin: 8px 15px 5px 0;
  padding: 7px 8px;
  &.collapsed {
    background-color: $color-white;
    .icon-bar {
      background-color: $color-medium-grey-1
    }
  }
  .icon-bar {
    background-color: $color-white;
    border-radius: 0;
    width: 26px;
    height: 3px;
  }
}

@media (min-width: $screen-sm-min) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-nav {
    margin: 0;
    li a {
      font-size: 12px;
      padding: 15px 8px;
      &.greater {
        font-size: 14px;
      }
    }
    .navbar-btn {
      margin: 9px 5px;
    }
  }
}

aside {
  h3 {
    margin-bottom: 0px;
  }

  p {
    color: $color-medium-grey-1;
    font-size: 12px;
  }
}

footer {
  bottom: 0;
  background-color: $color-dark-grey;
  color: transparentize($color-white, .6);
  margin-top: 20px;
  padding: 40px 0 20px;
  position: absolute;
  width: 100%;
  img.pull-left {
    margin-right: 20px;
  }
  .form-inline .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-input {
    background-color: rgba(255,255,255,.1);
    border: 0;
    @include box-shadow(0,0,0,rgba(255,255,255,0));
    display: inline-block;
    font-size: 12px;
    width: 75%;
  }
  .email-btn {
    font-size: 12px;
    padding: 11px;
  }
}

a {
  color: $color-primary;
  &:hover, &:focus {
    color: lighten($color-primary, 10%);
  }
  &:active {
    color: darken($color-primary, 15%);
  }
}

.well {
  background: $color-off-white;
}

