.label {
  background: none;
  border: 1px solid $color-medium-grey-1;
  color: $color-medium-grey-1;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  margin: -5px 0 20px;
  padding: 4px 10px;
}
