.label {
  background: none;
  border: 1px solid $color-medium-grey-1;
  color: $color-medium-grey-1;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  padding: 4px 10px;
  &.success {
    border-color: $color-primary;
    color: $color-primary;
  }

  &.danger {
    border-color: $color-error;
    color: $color-error;
  }
}
