body {
  color: $color-medium-grey-2;
  font: 12px/1.6 'Whitney SSm A', 'Whitney SSm B', sans-serif;
  font-weight: 500;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2, 
h3,
h4,
h5, 
h6 {
  font-weight: 600;
  font-style: normal;
  line-height: 1.4;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h2.subtitle {
  
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 13px;
}

.jumbotron h1 {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 3px;
}

footer h4 {
  color: transparentize($color-white, .3);
  font-size: 14px;
}

@media (min-width: $screen-sm-min) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 36px;
    margin: 10px 0 10px;
  }

  h2 {
    font-size: 22px;
  }

  h2.subtitle {
    color: $color-medium-grey-1;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
  }
}
