th a {
  color: $color-medium-grey-2;

  &:hover {
    color: lighten($color-medium-grey-2, 15%);
    text-decoration: none;
  }

  &.current {
    color: $color-dark-grey;
    &:hover {
      color: lighten($color-dark-grey, 15%);
    }
  }

  &.desc::after {
    content: '\00a0🔽';
  }

  &.asc::after {
    content: '\00a0🔼';
  }
}

.table .media {

  .media-body {
    width: auto;
  }

  h3 {
    font-size: 20px;
  }
  .media-left img {
    width: 140px;
  }
}

.families.index .media-body {
	// width: 70%;
}