%footer
  .container
    .row
      .col-xs-12
        =image_tag "logo-alt.png", alt: "AdoptTogether", class: "pull-left"
        %p Donate to AdoptTogether
        %p AdoptTogether is a project of Hoping Hearts Foundation, an IRS approved 501(c)(3) organization.
      .col-xs-12
        %ul
          %li What is AdoptTogether
          %li How It Works
          %li About Us
          %li FAQ
          %li Contact Us
          %li Legal
          %li Testimonials
          %li Press
          %li Blog
          %li Help
      .col-xs-12
        %ul
          %li Facebook
          %li Twitter
          %li Google+
          %li Pinterest

      %p &copy; 2010-2015 AdoptTogether. All rights reserved.
