%footer
  .container
    .row
      .col-xs-12.col-md-4
        =image_tag "logo-alt.png", alt: "AdoptTogether", class: "pull-left"
        =link_to "Donate to AdoptTogether", "#", class: "btn btn-primary"
        %p AdoptTogether is a project of Hoping Hearts Foundation, an IRS approved 501(c)(3) organization.
      .col-xs-12.col-sm-6.col-md-4
        %h4 What is AdoptTogether
        %ul.list-unstyled
          .row
            .col-xs-6
              %li How It Works
              %li About Us
              %li FAQ
              %li Contact Us
              %li Legal
            .col-xs-6
              %li Testimonials
              %li Press
              %li Blog
              %li Help
      .col-xs-12.col-sm-6.col-md-4
        %h4 Get Infrequent Email Updates
        %form(action="//adopttogether.us1.list-manage.com/subscribe/post?u=3b533553aa7564167238aba5e&amp;id=929a88a092" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank" role="form" novalidate)
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          %div(style="position: absolute; left: -5000px;")
            %input(type="text" name="b_3b533553aa7564167238aba5e_929a88a092" tabindex="-1" value="")
          .form-group
            %input(type="email" value="" name="EMAIL" class="form-control footer-input" placeholder="email@domain.com" required)
            %input(type="submit" value="Sign Up" name="subscribe" class="btn btn-default form-control-button email-btn")
        %ul.list-unstyled
          %li.facebook Facebook
          %li.twitter Twitter
          %li.googleplus Google+
          %li.pinterest Pinterest
      .col-xs-12
        %p &copy; 2010-2015 AdoptTogether. All rights reserved.
