%footer
  .container
    .row
      .col-xs-12.col-md-4
        =image_tag "logo-alt.png", alt: "AdoptTogether", class: "pull-left"
        =link_to "Donate to AdoptTogether", "#", class: "btn btn-primary"
        %p AdoptTogether is a project of Hoping Hearts Foundation, an IRS approved 501(c)(3) organization.
      .col-xs-12.col-md-4
        %h4 What is AdoptTogether
        %ul
          %li How It Works
          %li About Us
          %li FAQ
          %li Contact Us
          %li Legal
          %li Testimonials
          %li Press
          %li Blog
          %li Help
      .col-xs-12.col-md-4
        %h4 Get Infrequent Email Updates
        %ul
          %li Facebook
          %li Twitter
          %li Google+
          %li Pinterest

      %p &copy; 2010-2015 AdoptTogether. All rights reserved.
